<!DOCTYPE html>
<html lang="en">
<form th:replace="~{PostFormView.html :: head('')}"></form>
<body>
<form th:replace="~{PostFormView.html :: header}"></form>

<div class="rounded-container-user" id="profilePictureContainer">
    <a th:href="@{'/users/' + ${comment.user.id}}"> <img class="users-image"
                                                         th:src="${comment.user.photoUrl != null ? comment.user.photoUrl : '/assets/img/users/default-icon.png'}"
                                                         alt="Profile Picture" id="profilePicture" /> </a>
</div>

<h3 class="users-name" th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}">Full Name</h3>
<br>
<h5 class="users-name" th:text="'(' + ${comment.user.username} + ')'"></h5>
<br/>
<br/>
<br/>
<br/>

<h3 class="users-name" th:text="${post.title}">Post Title</h3>
<br/>
<br/>
<br/>
<div class="textarea-container">
    <textarea class="textarea-content2" id="commentText" th:text="${comment.content}" readonly>Comment content</textarea>
</div><br/>
<br/>

















<form th:replace="~{PostFormView.html :: footer}"></form>

</body>
</html>