<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostForm.html :: head('Posts')}"></form>
<body>
<form th:replace="~{PostForm.html :: header}"></form>

<div class="body-content">
    <form action="#" th:action="@{/posts}" method="get" th:object="${filterOptions}">
        <label style="margin-top: 50px; margin-bottom: 50px;  font-weight: 700;  line-height: 1.2;" th:text="#{posts.filter.label}">Browse Posts</label>
        <br/><br/>
        <input type="text" placeholder="Username" th:field="*{user}"/>
        <input type="text" placeholder="Title" th:field="*{title}"/>
        <select th:field="*{sortBy}">
            <option value="">Sort By</option>
            <option value="username">Username</option>
            <option value="title">Title</option>
        </select>
        <select th:field="*{sortOrder}">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <br/><br/>

        <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Search"/>
        <br/>
        <br/>
    </form>

    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{posts.title.empty}">No Posts</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{posts.title}">All Posts</h2>

        <div id="table">
            <div id="header">
                <div class="cell" th:text="#{post.label.title}">Title</div>
                <div class="cell" th:text="#{post.label.user}">User</div>

            </div>
            <div id="row" th:each="post : ${postPage}">
                <div style="width: 40%; padding: 12px; border-bottom: 1px solid #dee2e6;  display: table-cell;">
                    <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Title</a>
                </div>
                <div style="width: 20%; padding: 12px; border-bottom: 1px solid #dee2e6; display: table-cell;">
                    <a href="#" th:href="@{/users/{id}(id=${post.user.id})}" th:text="${post.user.username}">User</a>
                </div>
                <div style="width: 1%; padding: 12px; border-top: 1px solid #dee2e6; display: table-cell;">
                   <form th:action="@{'/posts/' + ${post.id}  + '/delete'}" th:method="get">
                       <button th:if="${post.user.id == session.currentUser.id || isAdmin}"  style="background-color: red; border: none; color: white"   th:text="#{post.label.delete}" type="submit">Delete</button>
                   </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pagination_section" style="text-align: center">
    <!--    <a th:if="${userPage.hasPrevious()}" th:href="@{'/users?page=' + ${userPage.previousPageable().pageNumber}}" th:text="Previous"></a>-->
    <span th:if="${postPage.totalPages > 0}" th:each="pageNumber : ${#numbers.sequence(1, postPage.totalPages)}">
    <a th:href="@{'/posts?page=' + ${pageNumber} +
        '&size=' + ${postPage.getSize()} +
        '&username=' + ${filterOptions.user} +
        '&email=' + ${filterOptions.title} +
        '&sortBy=' + ${filterOptions.sortBy} +
        '&sortOrder=' + ${filterOptions.sortOrder}}"
       th:text="${pageNumber}" th:class="${pageNumber == postPage.number + 1} ? 'active'"></a>
</span>
    <!--    <a th:if="${userPage.hasNext()}" th:href="@{'/users?page=' + ${userPage.nextPageable().pageNumber}}" th:text="Next"></a>-->
</div>

<form th:replace="~{PostForm.html :: footer}"></form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>