<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostFormView.html :: head(${post.getTitle()})}"></form>
<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <title th:text="'Pet Lounge | ' + ${title}">Post</title>

    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">

</head>
<body>
<form th:replace="~{PostFormView.html :: header}"></form>

<div class="body-content">

    <div class="post-container">
        <div class="post-image-container">
            <img th:src="${post.getPhotoUrl()}" alt="No alt text" class="post-image"/>
        </div>        <div class="head">

            <div class="author" th:text="${post.getUser().getUsername()}">Author:</div>
            <div class="content" th:text="${'Topic: ' + post.getTitle()}">Topic: post's title</div>
            <div><!-- Options Button for Post/Comment -->
                <form th:action="@{/posts/{postId}/update(postId=${post.id})}"
                      method="post">
                    <div class="options-menu">
                        <button type="button" class="button options-button" onclick="toggleOptionsMenu(this)">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="options-dropdown" style="display: none;">
                            <a href="#" th:href="@{/posts/{id}/update(id=${post.id})}">Edit Post</a>
                            <a href="#" onclick="toggleEditTags()">Edit Tags</a>
                            <a href="#" th:href="@{/posts/{id}/delete(id=${post.id})}">Remove</a>
                        </div>
                    </div>
                </form>

                <!-- Tag Editing Area (hidden by default) -->
                <div id="edit-tags-area" class="hidden-edit-tags-area" style="display: none;">
                    <form th:action="@{/posts/{id}/tags/update(id=${post.id})}" method="post">
                        <!-- Assume tags are comma-separated -->
                        <input type="text" name="tags" th:value="${joinedTags}">
                        <input type="submit" value="Save">
                        <button class="button" type="button" onclick="toggleEditTags()">Cancel</button>
                    </form>
                </div>
            </div>
            <div class="post-tag-icon">
                <span class="hashtag">#tags</span>
                <div class="tag-tooltip" th:if="${not #lists.isEmpty(post.tags)}">
                    <span class="tag" th:each="tag : ${post.tags}" th:text="'#' + ${tag.getContent()}">#Tag</span>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="authors">
                <div class="username"><a th:href="${'/users/' + post.getUser().getId()}"
                                         th:text="${post.getUser().getUsername()}">Author's Username</a></div>
                <div class="created-at" th:text="${'Created: ' + post.getCreationDate()}">CreationDate:11.11.1111</div>
                <img src="https://mystickermania.com/cdn/stickers/adventure-time/adventure-time-jake-with-sandwich-512x512.png"
                     alt="Default"/>
            </div>
            <div class="content" th:utext="${post.getContent()}">
                Just some test content.
            </div>
            <div class="post-actions">
                <div class="comment">
                    <button class="button comment-button" onclick="showComment()">
                        <i class="fa fa-comments icon-left comment-icon" aria-hidden="true"></i>Comment
                    </button>
                </div>
                <div class="like-section">
                    <form th:action="@{/posts/{postId}/like(postId=${post.id})}" method="get">
                        <button type="submit" class="button like-button" th:href="@{/posts/{id}/like(id=${post.id})}">

                            <i class="fa fa-heart icon-left like-icon" aria-hidden="true"> </i>
                            <div class="likes-count-container">
                                <span class="likes-count" th:text="${likesCount}">0</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Comment input-->
    <form th:action="@{/posts/{postId}/comments/create(postId=${post.id})}" method="post">
        <div class="hidden-comment-area" id="comment-area" style="display: none;">
            <textarea name="content" placeholder="comment here..."></textarea>
            <input type="submit" name="" value="submit">
        </div>
    </form>

    <br>

    <!-- Show Comments -->
    <div class="comments-container">
        <div class="head">
            <div class="author" th:text="${post.getUser().getUsername()}">Author's post comments:</div>
            <div class="content">Comments</div>
        </div>

        <div class="body" th:each="comment : ${comments}">
            <div class="authors">
                <div class="username"><a th:href="${'/users/' + comment.getUser().getUsername()}"
                                         th:text="${ comment.getUser().getUsername()}">Username</a></div>
                <img src="https://mystickermania.com/cdn/stickers/adventure-time/adventure-time-jake-with-sandwich-512x512.png"
                     alt="Default"/>
            </div>

            <div class="content" th:utext="${comment.getContent()}">
                Test Comment Content aa
            </div>

            <!-- Edit Comment Button -->
            <div th:if="${session.currentUser.id == comment.user.id}" class="edit-comment-section">
                <button type="button" class="button edit-button" onclick="toggleEditComment(${comment.id})">
                    <i class="fa fa-edit icon-left edit-icon" aria-hidden="true"></i>Edit
                </button>
            </div>

            <!-- Edit Comment Form (hidden by default) -->
            <div id="edit-comment-form-${comment.id}" class="hidden-edit-comment-area" style="display: none;">
                <form th:action="@{/posts/{postId}/comments/{commentId}/update(postId=${post.id}, commentId=${comment.id})}"
                      method="post">
                    <textarea name="content" th:text="${comment.content}">Comment Text</textarea>
                    <input type="submit" value="Save">
                    <button type="button" onclick="toggleEditComment(${comment.id})">Cancel</button>
                </form>
            </div>

        </div>

    </div>
</div>
<form th:replace="~{PostFormView.html :: footer}"></form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>