<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostFormView.html :: head(${user.username})}"></form>
<body>

<form th:replace="PostFormView.html :: header"></form>

<!--<div class="rounded-container">-->
<!--    <img class="users-image"-->
<!--         th:src="${user.photoUrl != null ? user.photoUrl : '/assets/img/users/default-icon.png'}"-->
<!--         alt="..." />-->
<!--</div>-->

<div class="rounded-container-user" id="profilePictureContainer">
    <img class="users-image"
         th:src="${user.photoUrl != null ? user.photoUrl : '/assets/img/users/default-icon.png'}"
         alt="Profile Picture" id="profilePicture" />
</div>

<h3 class="users-name" th:text="${user.firstName} + ' ' + ${user.lastName}">Full Name</h3>
<br>
<h5 class="users-name" th:text="'(' + ${user.username} + ')'"></h5>
<br/>
<br/>
<h6 class="users-name" th:if="${!isBlocked}" th:attr="title='This status indicates that you are fully-fledged user of the website.'">Status: <span style="color: green">Active</span></h6>
<h6 class="users-name" th:if="${isBlocked}" th:attr="title='This status indicates that you are blocked user and therefore not authorized to create post nor comments.'">Status: <span style="color: red">Blocked</span></h6>

<br/>
<br/>
<br/>
<br/>
<form th:if="${session.currentUser.getId() == user.getId()}" th:method="get" th:action="@{'/users/' + ${user.id} + '/update'}">
    <button style="display: block; margin: 0 auto;"
            class="btn btn-primary btn-xl text-uppercase" th:text="Update"
            type="submit">Update</button>
</form>

<form th:if="${isAdmin && session.currentUser.id != user.id}" th:action="@{'/users/' + ${user.id} + '/blockOrUnblock'}" method="post">
    <button style="display: block; margin: 0 auto;" th:unless="${isBlocked}" th:text="Block" class="btn btn-primary btn-xl text-uppercase" type="submit">Block</button>
    <button style="display: block; margin: 0 auto;" th:if="${isBlocked}" th:text="Unblock" class="btn btn-primary btn-xl text-uppercase" type="submit">Unblock</button>
</form>

<form th:if="${session.currentUser.getId() == user.getId()}" th:method="post" th:action="@{'/users/' + ${user.id} + '/delete'}">
    <button style="display: block; background-color: red; margin: 50px auto 0;"
            class="btn btn-primary btn-xl text-uppercase" th:text="Delete"
            type="submit">Delete</button>
</form>


<form th:replace="PostFormView.html :: footer"></form>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>
</html>